.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio-hero-list {
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio-hero-list {
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: -15px;
  }

  .portfolio-hero-list-item {
    margin-top: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .portfolio-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.portfolio-hero-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: #ffffff;

  padding: 6px 22px;
  border: 0;

  min-width: 73px;
  min-height: 38px;

  background: #f5f4fa;
  border-radius: 4px;
  color: var(--special-black-color);
  transition-property: background, box-shadow, border-radius, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: var(--hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #ffffff;
  }
}

.portfolio-img {
  width: 100%;
}

.portfolio-list-item {
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.port-list-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.port-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.port-thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;

  transform: translateY(100%);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition-property: opacity, visibility, pointer-event, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;

  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;

  .port-list-link:focus &,
  .port-list-link:hover & {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0%);
  }
}

.portfolio-title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--special-black-color);

  margin-bottom: 4px;
}

.portfolio-discription {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-top: -15px;
  }

  @media screen and (max-width: 1199px) {
    .portfolio-list {
      margin-left: -15px;
      margin-top: -15px;
    }
  }

  .portfolio-list-item {
    margin-left: 15px;
    margin-top: 15px;
  }

  .portfolio-hero-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--margin-card));
    margin-top: calc(-1 * var(--margin-card));
  }

  .portfolio-list-item {
    width: 370px;
    margin-left: var(--margin-card);
    margin-top: var(--margin-card);
  }

  .portfolio-hero-list {
    margin-bottom: 50px;
  }
}
